<table>
    {{#each board as |row index|}}
        <tr>s
            {{#each row as |cell index|}}
                <td>{{cell.x}}, {{cell.y}}</td>
            {{/each}}
        </tr>
    {{/each}}
</table>

<div>
{{board.valid_dice(2,3)}}
</div>