<table>
    {{#each board.rows as |row index|}}
        <tr>
            {{#each row as |cell index|}}
                <td style="width: 50px; height: 50px; border: 1px black solid; background-color: {{cell.die.color}}; color: white; text-align: center">{{cell.die.pips}}</td>
            {{/each}}
        </tr>
    {{/each}}
</table>