<table>
    {{#each board.row as |row index|}}
        <tr>s
            {{#each row as |cell index|}}
                <td>{{cell.x}}, {{cell.y}}</td>
            {{/each}}
        </tr>
    {{/each}}
</table>